RYUU_API_KEY=your_apikey

AUTH_SECRET=put_a_long_random_secret
AUTH_URL=http://localhost:3000

DISCORD_CLIENT_ID=client_id
DISCORD_CLIENT_SECRET=secret_id

DISCORD_BOT_TOKEN=bot_token
DISCORD_GUILD_ID=1363222357975502878
DISCORD_PREMIUM_ROLE_ID=1436609444174761985
