RYUU_API_KEY=your_apikey
MANIFESTHUB_REPO_URL=https://github.com/SteamAutoCracks/ManifestHub

AUTH_SECRET=put_a_long_random_secret
AUTH_URL=http://localhost:3000

DISCORD_CLIENT_ID=client_id
DISCORD_CLIENT_SECRET=secret_id

DISCORD_BOT_TOKEN=bot_token
DISCORD_GUILD_ID=1363222357975502878
DISCORD_PREMIUM_ROLE_ID=1436609444174761985
DISCORD_PREMIUM_URL=https://discord.com/channels/your-server-id/your-channel-id
DISCORD_DAILY_RECAP_CHANNEL_ID=1487572491307192461
BROWSERLESS_WS_ENDPOINT=wss://your-browserless-endpoint
CRON_SECRET=put_a_long_random_secret
MANIFEST_RANDOM_LIST_URL=https://raw.githubusercontent.com/SteamTools-Team/GameList/refs/heads/main/games.json

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DATABASE=steamtools
MYSQL_CONNECTION_LIMIT=10
